<section class="w-100 h-100 p-lg-5">
    <div class="d-flex w-100 h-100 align-items-center justify-content-end">
        <div class="w-50 d-flex justify-content-end">
            <mat-card class="w-75 d-flex p-lg-4">
               <div class="d-block w-100">
                <h3 class="my-lg-3">
                    Welcome Back
                </h3>
                <mat-divider></mat-divider>

                <form action="" method="post" (submit)="onSubmit()" [formGroup]="loginForm" class="mt-lg-5 mb-3 w-100">
                    <div class="form-group my-lg-2">
                        <label class="d-block mb-0 pb-0" for="email"> Email: </label>
                        <mat-form-field class="w-100" appearance="outline" color="primary">
                            <input matInput 
                            formControlName="email"
                            type="email"
                            placeholder="Ex. admin@admin.com">
                          </mat-form-field>
                      </div>

                      <div class="form-group my-lg-2">
                        <label class="d-block mb-0 pb-0" for="password"> Password: </label>
                        <mat-form-field class="w-100" appearance="outline" color="primary">
                            <input matInput 
                            formControlName="password"
                            type="password"
                            placeholder="********">
                          </mat-form-field>
                      </div>

                      <button mat-flat-button color="primary" type="submit" class="btn btn-lg btn-block">
                          Login
                      </button>
                </form>
               </div>
              
            </mat-card>
        </div>
    </div>
</section>