@import '~@angular/material/theming';

@include mat-core();


$id8-yellow: (
    50: #fefce6,
    100: #fdf5c1,
    200: #fbef98,
    300: #f9e970,
    400: #f7e350,
    500: #f7e031,
    600: #f5cd2c,
    700: #f3b625,
    800: #f09e1e,
    900: #eb7511,
    A100: #FFFF8D,
    A200: #FFFF00,
    A400: #FFEA00,
    A700: #FFD600,
    contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #212121,
    600: #212121,
    700: #212121,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$shades-of-grey: (
    0: #FAFAFA,
    100: #F5F5F5,
    200: #EEEEEE,
    300: #E0E0E0,
    400: #BDBDBD,
    500: #9E9E9E,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121,
    // for now will try to settle on that
    contrast: (
      50: $black-87-opacity,
      100: $black-87-opacity,
      200: $black-87-opacity,
      300: $black-87-opacity,
      400: $black-87-opacity,
      500: white,
      600: white,
      700: white,
      800: $white-87-opacity,
      900: #f7e031,
      A100: $black-87-opacity,
      A200: white,
      A400: white,
      A700: white,
    )
);