<section id='article_header' class="mt-3">
    <div class="flex-container">
        <div>
            <h3>
                Article Details
            </h3>
        </div>
        <div>
            <button mat-flat-button color="primary" (click)="deleteArticle()" class="mr-lg-1 btn action">
                
                <mat-icon>
                    delete
                </mat-icon>
                Delete
            </button>
            <button mat-flat-button (click)="editArticle()" color="primary" class="ml-lg-1 btn action">
                <mat-icon>
                    edit-mode
                </mat-icon>
                Edit
            </button>

        </div>
    </div>
</section>

<section *ngIf="article" id="article_details" class="mt-3">
    <mat-card class="py-0">
        <div *ngFor="let label of labels | keyvalue">
            <div *ngFor="let field of article | keyvalue">
                <div  *ngIf="label.key === field.key">

                    <div class="row py-4">
                        <div class="col-3" >
                            <label for="">
                                {{ label.value }}
                            </label>
                        </div>
                        <div class="col-9">
                            <div *ngIf="field.key === 'category' && field.value">
                                {{ field.value.name }}
                            </div>

                            <div *ngIf="field.key === 'published'">
                                <mat-icon *ngIf="field.value" class="text-success mx-auto material-icons-outlined">
                                    check_circle_outline
                                  </mat-icon>
                                  <mat-icon *ngIf="!field.value" class="text-danger mx-auto material-icons-outlined">
                                    cancel_outline
                                  </mat-icon>
                            </div>
                            <div *ngIf="field.key != 'category' && field.key != 'published'">
                                {{ field.value }}
                            </div>
                            
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </div>

            </div>
        </div>
       
<!-- 
        <div class="row py-4">
            <div class="col-3">
                <label for="">
                    Subtitle
                </label>
            </div>
            <div class="col-9">
                <div *ngIf="!article.subtitle">
                    -
                </div>
                <div *ngIf="article.subtitle">
                    {{article.subtitle}}
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>

        <div class="row py-4">
            <div class="col-3">
                <label for="">
                    Subtitle
                </label>
            </div>
            <div class="col-9">
                <div *ngIf="!article.subtitle">
                    -
                </div>
                <div *ngIf="article.subtitle">
                    {{article.subtitle}}
                </div>
            </div>
        </div>
        <mat-divider></mat-divider> -->
    </mat-card>

</section>

