.icon-container {
    margin: 0 5px;
  }

  .menu-title {
    flex: 1 0 auto;
    font-weight:  400;
  }


  .mat-icon {
    font-size: 1.5rem !important;
    margin: 0 0.5rem 0 0;
    width: 1em;
    text-align: center
  }

  .collapseMenu {
    display: none;
  }

  // ************ This is Override
 .mat-list-item {
   ::ng-deep {
    .mat-list-item-content {
      height: fit-content !important;
      border-bottom: none !important;
      line-height: 1.5rem;
      padding: 0.75rem 1rem !important;
    } 
    .mat-list-icon {
      padding: 0px !important; 
    } 
   }
 }

 .nav-links:hover {
   background-color: #000000;
 }

 .active {
   .nav-item-link {
     color: #f7e031 !important;
   }
 }
 .active::before {
   content: "";
   width: 4px;
   height: 48px;
   left: 0;
   background-color: #f7e031;
   display: inline-block;
   position: absolute;
 }

 .nav-item-link {
  color: white;
  font-weight: 600;
}

  .expandMenu {
    // Overide deep classes within expandMenu
    ::ng-deep {
      .mat-list-text {
        padding-left: 0px !important;
      }
      .mat-line {
        display: flex;
      }

      .mat-list-item-content {
        padding: 0.75rem 1rem !important;
        height: fit-content !important;
        border-bottom: none !important;
        line-height: 1.5rem;
        min-width: 156px;
        flex-direction: row-reverse;
        font-size: 16px !important;
      }

    }
    
    .routeIcon {
      font-weight: lighter;
    font-size: 1.5rem !important;
    margin: 0 0.5rem 0 0;
    width: 1em !important;
    text-align: center;
    display: flex;
    }

    
  }

