<mat-toolbar color="primary" class="app-toolbar">
    <button  mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
        </button>

        <h4> Id8 Space</h4>
</mat-toolbar>
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" fixedInViewport="true" fixedTopGap="56" mode="side" position="start" opened="true">
       <app-menu [isExpanded]="isExpanded"></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="main_content">
            <h3>
                Overview
            </h3>
        </div>
    
    
    </mat-sidenav-content>
  
  
  </mat-sidenav-container>
  