.example-container {
    flex: 1;
    margin-top: 60px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  

.main_content {
    padding: 1.4rem;
    width:100%; 
    background: #efefef;
  }

  .app-toolbar {
    position: fixed;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 2; /* Ensure that your app's content doesn't overlap the toolbar */
}
  .nav-container {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }