
// App toolbar, for making it sticky
.app-toolbar {
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 2; /* Ensure that your app's content doesn't overlap the toolbar */
}

// Binding class for on Expand sidenav width
.widthOnExpand {
  width: 16rem;
}




// Sidenav
.sidenav-container {
    flex: 1;
    margin-top: 60px;
  }

  .side-nav {
    background-color: #181818;
  }

.nav-container {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}
  
// Main content, what is found at the middle of the dashboard
.main_content {
    padding: 1.8rem;
    width:100%; 
    background: #fafafa;
  }

  .mat-drawer-content{
    overflow: initial !important;
  }


