<mat-toolbar color="primary" class="app-toolbar shadow">
    <div class="pl-3 d-inline header-box header-logo">
      <button class="d-inline" mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
        </button>

        <h4 class="mx-lg-3 d-inline" >
          <img src="assets/img/logo-.png" style="max-width: 80px;" alt="logo">
        </h4>
    </div>

    <div class="ml-auto d-flex justify-content-end">
      <div class="d-flex flex-row-reverse">
        <span style="font-size: 18px; font-weight: 500;">
          <mat-menu #appMenu="matMenu" yPosition="below" xPosition="after">
            <button mat-menu-item >Profile</button>
            <button mat-menu-item >Edit Profile</button>
            <button mat-menu-item (click)='logout()' >Logout</button>
    
          </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        </span>
      </div>
    </div>
</mat-toolbar>
  <mat-sidenav-container color="primary" class="sidenav-container " autosize>
    <mat-sidenav class="side-nav" [class.widthOnExpand]="isExpanded" #sidenav fixedInViewport="true" fixedTopGap="60" mode="side" position="start" opened="true">
        <mat-nav-list>
          <app-menu [isExpanded]="isExpanded" *ngFor="let item of menuList" [item]="item"></app-menu>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

        <div class="main_content">
          <router-outlet></router-outlet>
        </div>
    
    
    </mat-sidenav-content>
  
  
  </mat-sidenav-container>
  