<!-- The text here is light -->
<section id="category_section">
    <div class="d-inline-flex">
        <h3 class="mb-0 my-1">
            Article Categories
        </h3>

        <button mat-flat-button color="primary" class="mx-lg-3 btn">Add Category</button>
    </div>

    <section id="categories">
        <div class="tiles my-4">
           <div class="tiles-item w-15 mr-4 mb-4">
            <mat-card class="category tiles">
                <h1>
                    LE
                </h1>
            </mat-card>

            <h6 class="tile-text text-center">
               Leadership 
            </h6>
           </div>

           <div class="tiles-item w-15 mr-4 mb-4">
            <mat-card class="category tiles">
                <h1>
                    LE
                </h1>
            </mat-card>

            <h6 class="tile-text text-center">
               Leadership 
            </h6>
           </div>

           <div class="tiles-item w-15 mr-4 mb-4">
            <mat-card class="category tiles">
                <h1>
                    LE
                </h1>
            </mat-card>

            <h6 class="tile-text text-center">
               Leadership 
            </h6>
           </div>

           <div class="tiles-item w-15 mr-4 mb-4">
            <mat-card class="category tiles">
                <h1>
                    LE
                </h1>
            </mat-card>

            <h6 class="tile-text text-center">
               Leadership & Mentorship
            </h6>
           </div>

            
        </div>
        
    </section>
</section>


<section id="articles_list">

    <div class="row">
        <div class="col">
            <div class="d-flex">
                <h2 class="d-flex align-items-center mb-0">
                    News & Articles
                </h2>
        
                <mat-form-field appearance="outline" class="d-flex align-items-center search-input mx-lg-3">
                    <input matInput placeholder="Ex. ium">
                    <!-- <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium"> -->
                  </mat-form-field>
            </div>
        </div>

        <div class="col text-right">
            <button mat-flat-button color="primary" class="mx-lg-3 my-lg-3 btn">Add Article</button>
            
        </div>
    </div>


</section>





