<!-- The text here is light -->
<section id="category_section">
    <div class="d-inline-flex">
        <h1 class="mb-0 my-1">
            Article Categories
        </h1>

        <button mat-flat-button color="primary" class="mx-lg-3 btn">Add Category</button>
    </div>

    <section id="categories">
        <div class="tiles my-4">
           <div class="tiles-item w-15 mr-4 mb-4">
            <mat-card class="category tiles">
                <h3>
                    LE
                </h3>
            </mat-card>

            <p class="tile-text text-center">
               Leadership 
            </p>
           </div>

           <div class="tiles-item w-15 mr-4 mb-4">
            <mat-card class="category tiles">
                <h3>
                    LE
                </h3>
            </mat-card>

            <p class="tile-text text-center">
               Leadership 
            </p>
           </div>

           <div class="tiles-item w-15 mr-4 mb-4">
            <mat-card class="category tiles">
                <h3>
                    LE
                </h3>
            </mat-card>

            <p class="tile-text text-center">
               Leadership 
            </p>
           </div>

           <div class="tiles-item w-15 mr-4 mb-4">
            <mat-card class="category tiles">
                <h3>
                    LE
                </h3>
            </mat-card>

            <p class="tile-text text-center">
               Leadership & Mentorship
            </p>
           </div>

            
        </div>
        
    </section>
</section>


<app-data-table  *ngIf="dataIsLoaded" 
[columnHeader]="columnHeader1"></app-data-table>





