<section id='article_header' class="mt-3">
    <div class="flex-container">
        <div>
            <h3>
                Adding an Article
            </h3>
        </div>
        
    </div>
</section>

<section *ngIf="pageLoaded && !articleId" id="article_details" class="mt-3">
    <dynamic-form [fields]="regConfig" (submit)="submit($event)">
    </dynamic-form>
</section>



<section *ngIf="articleId" id="article_details" class="mt-3">
    <dynamic-form *ngIf="pageLoaded | async" [fields]="regConfig" (submit)="submit($event)">
    </dynamic-form>
</section>

