
<section id="channels_list">

    <div class="row">
        <div class="col">
            <div class="d-flex">
              <h1 class="d-flex align-items-center mb-lg-0">
                  Forum Posts
              </h1>
              <form [formGroup]="searchForm" (keyup.enter)="search($event)" class="d-flex align-items-center search-input mx-lg-3">
                <mat-form-field appearance="outline">
                  <input matInput formControlName="search" placeholder="Ex. ium">
                </mat-form-field>
              </form>
             
            </div>
        </div>

        <div class="col text-right">
            <button mat-flat-button color="primary" routerLink='/dashboard/forums/channels/create' class="my-lg-3 btn">Create Post</button>
            
        </div>
    </div>


</section>

<section id="data_table">
  <div class="example-container mat-elevation-z2">
      <div class="example-loading-shade"
           *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          Id8 API rate limit has been reached. It will be reset in one minute.
        </div>
      </div>
    
      <div class="example-table-container">
    
        <table mat-table [dataSource]="_dataSource" class="example-table"
               matSort matSortActive="title" matSortDisableClear matSortDirection="desc">
               <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
              </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
              </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</th>
            <td mat-cell *matCellDef="let row">{{row.title}}</td>
          </ng-container>
    
          <!-- Subtitle Column -->
          <ng-container matColumnDef="subtitle">
            <th mat-header-cell *matHeaderCellDef>subtitle</th>
            <td mat-cell *matCellDef="let row">{{row.subtitle}}</td>
          </ng-container>
    
          <!-- Description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>
              description
            </th>
            <td mat-cell *matCellDef="let row">{{row.description}}</td>
          </ng-container>

          <!-- Location Column -->
          <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef>
                  location
              </th>
              <td mat-cell *matCellDef="let row">{{row.location}}</td>
            </ng-container>

            <!-- Color Column -->
          <ng-container matColumnDef="color">
              <th mat-header-cell *matHeaderCellDef>
                color
              </th>
              <td mat-cell *matCellDef="let row">
                <div class="d-flex align-items-center">
                  <div [style.background-color]="row.color" class="color-indicator">   
                  </div><span>{{row.color}}</span>
                </div>
              </td>
            </ng-container>

            <!-- Is private Column -->
          <ng-container matColumnDef="is private">
              <th mat-header-cell *matHeaderCellDef>
                is private
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-icon *ngIf="row.is_private" class="text-success mx-auto">
                  lock
                </mat-icon>
                <mat-icon *ngIf="!row.is_private" class="text-success mx-auto material-icons-outlined">
                  lock_open
                </mat-icon>
              </td>
            </ng-container>

             <!-- Star Column -->
          <ng-container matColumnDef="more" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <mat-menu #appMenu="matMenu" yPosition="below" xPosition="after">
                  <button mat-menu-item (click)="viewArticle(row)">View</button>
                  <button mat-menu-item (click)="editArticle(row)">Edit</button>
                  <button mat-menu-item (click)="deleteArticle(row)">Delete</button>
  
                </mat-menu>
                <button mat-icon-button [matMenuTriggerFor]="appMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    
      <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </div>
    
    
    <!-- Copyright 2019 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at http://angular.io/license -->
</section>


