<form action="" [formGroup]="topicForm" (submit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-9 ">
          <mat-card>
      
            <!-- Name -->
            <div class="form-group">
                <label for="name"> Name: </label>
                <mat-form-field appearance="outline" color="primary">
                    <input matInput 
                    formControlName="name"
                    type="text"
                    placeholder="Ex. Innovation week 2020: Finteach and ecommerce scaling">
                  </mat-form-field>
              </div>
              
              <!-- Description -->
              <div class="form-group">
                <label for="description"> Description: </label>
                <mat-form-field appearance="outline" color="primary">
                    <textarea  matInput
                    formControlName="description"
                    cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="6"
                    placeholder="Ex. Innovation week 2020: Finteach and ecommerce scaling">
                    </textarea>
                  </mat-form-field>
              </div>   
              
              <!-- Color -->
              <div class="form-group">
                <label for="color"> Color Indicator: </label>
                <mat-form-field appearance="outline" color="primary">
                    <input matInput 
                    formControlName="color"
                    type="color" 
                    >
                  </mat-form-field>
              </div> 
              <div class="form-group">
                <label for="color"> Cover photo: </label>
              <img [src]="imageSrc || 'https://placehold.it/200'" class="rounded w-75 mt-2" alt="">
              <mat-form-field appearance="outline">
                <mat-label> Click to add Article Cover Photo </mat-label>
                <ngx-mat-file-input matInput (change)="onFileChange($event)" formControlName="coverphoto" placeholder="Click here to upload Article Coverphoto" ></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
              </mat-form-field>
            </div>
        
              

              
            </mat-card>
            <div class="d-flex flex-row-reverse my-3 my-lg-4">
              <div>
                <button mat-button (click)="goBack()" class="ml-lg-1 btn">
                
                  Cancel
              </button>
              
              <button *ngIf="!topicId" mat-flat-button color="primary" (click)="addAnother()" class="ml-lg-2 btn">
                
                Add & Create Another
              </button>
              
              <button mat-flat-button color="primary" type="submit" class="ml-lg-2 btn">
                <div *ngIf="!topicId">
                  Add Topic
                </div>
                <div *ngIf="topicId">
                  Update Topic
                </div>
                
              </button>
              </div>
            </div>
        </div>
     
        <div class="col-12 col-md-12 col-lg-3">
          
        </div>
      </div>
      
      
      
  </form>
  
  